<div class="container mt-4">
    <div class="card card-primary font-play">
        <div class="card-header text-uppercase text-center">
            <p class="h4 text-dark">
                <img src="assets/images/icons/theme/quotes.png">Nơi thảo luận
            </p>
        </div>
        <div class="card-body text-center">
            <div class="w-80">
                <div class="border border-secondary shadow rounded mb-5">
                    <iframe height=500px src='https://minnit.chat/LearnGeek?embed&nickname=guess' style='border:none;width:100%;' allowTransparency='true'></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
