<div class="row">
    <div ng-repeat="subject in $scope.subjects | limitTo : $scope.numberOfItem : $scope.begin" class="col-lg-4">
        <app-subject-card subject="subject" index=$index></app-subject-card>
    </div>

</div>
<div class="mb-3 d-flex justify-content-between">
    <div>
        <button class="btn btn-outline-primary" ng-click="$scope.first()"><i class="fas fa-angle-double-left fa-2x"></i></button>
        <button class="btn btn-outline-primary" ng-click="$scope.prev()"><i class="fas fa-angle-left fa-2x"></i></button>
    </div>
    <div class="align-self-center">
        trang
    </div>
    <div>
        <button class="btn btn-outline-primary" ng-click="$scope.next()"><i class="fas fa-angle-right fa-2x"></i></button>
        <button class="btn btn-outline-primary" ng-click="$scope.last()"><i class="fas fa-angle-double-right fa-2x"></i></button>
    </div>
</div>