<form ng-submit="$scope.save()" name="formStudent">
    <div class="form-group row">
        <label for="fullName" class="font-weight-bold col-sm-3 col-form-label">Họ tên</label>
        <div class="col-sm-9">
            <input required minlength="3" maxlength="25" name="fullName" type="text" class="form-control" placeholder="Họ tên..." ng-model="$scope.student.fullName" ng-model-options="{updateOn: 'blur'}">
            <span class="text-danger" ng-show="formStudent.fullName.$invalid && formStudent.fullName.$dirty">
                Họ tên gồm tối thiểu 3 và tối đa 25 kí tự
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="mark" class="font-weight-bold col-sm-3 col-form-label">Điểm</label>
        <div class="col-sm-9">
            <input required min="0" max="10" name="mark" type="number" class="form-control" placeholder="Điểm..." ng-model="$scope.student.mark" ng-model-options="{updateOn: 'blur'}">
            <span class="text-danger" ng-show="formStudent.mark.$invalid && formStudent.mark.$dirty">
                Điểm chỉ từ 0 đến 10
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="font-weight-bold col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input required name="email" type="email" class="form-control" placeholder="Email..." ng-model="$scope.student.email" ng-model-options="{updateOn: 'blur'}">
            <span class="text-danger" ng-show="formStudent.email.$invalid && formStudent.email.$dirty">
                Email chưa đúng định dạng
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="motorNumber" class="font-weight-bold col-sm-3 col-form-label">Số xe</label>
        <div class="col-sm-9">
            <input required pattern="5\d-[A-Z]\d-((\d{4})|(\d{3}\.\d{2}))" name="motorNumber" type="text" class="form-control" placeholder="Số xe..." ng-model="$scope.student.motorNumber" ng-model-options="{updateOn: 'blur'}">
            <span class="text-danger" ng-show="formStudent.motorNumber.$invalid && formStudent.motorNumber.$dirty">
                Số xe chưa đúng định dạng
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <div ng-click="formStudent.$setPristine(); $scope.resetForm()" style="cursor: pointer;" class="btn btn-secondary">Khôi phục</div>
            </div>
        </div>
    </div>
</form>
