<div class="animated fadeInDown faster text-center">
    <img src="assets/images/logo5.png" width="60px" height="60px">
</div>
<div class="card-title text-uppercase text-center py-3">Đăng nhập</div>
<form name="formSignIn" ng-submit="$scope.signIn()" class="animated fadeInUp faster">
    <div class="form-group">
        <div class="position-relative has-icon-left">
            <label for="username" class="sr-only">Tên đăng nhập</label>
            <input required pattern="^[a-zA-Z0-9_]+$" minlength=3 maxlength=40 type="text" name="username" class="form-control" ng-model-options="{updateOn: 'blur'}" ng-model="$scope.userAuthentication.username" placeholder="Tên đăng nhập">
            <div class="form-control-position">
                <i class="fas fa-user"></i>
            </div>
            <span class="text-danger" ng-show="formSignIn.username.$error && formSignIn.username.$dirty" ng-messages="formSignIn.username.$error" role="alert">
                <span ng-message="pattern">Tên đăng nhập không chứa ký tự đặc biệt trừ dấu _.</span>
                <span ng-message="required">Vui lòng nhập tên đăng nhập.</span>
                <span ng-message="minlength">Tên đăng nhập gồm 3 đến 40 ký tự.</span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="position-relative has-icon-left">
            <label for="password" class="sr-only">Mật khẩu</label>
            <input required pattern="^[a-zA-Z0-9\s\u002D\u005F]+$" minlength=5 maxlength=40 type="password" autocomplete="new-password" name="password" class="form-control" ng-model-options="{updateOn: 'blur'}" ng-model="$scope.userAuthentication.password" placeholder="Mật khẩu">
            <div class="form-control-position">
                <i class="fas fa-lock"></i>
            </div>
            <span class="text-danger" ng-show="formSignIn.password.$error && formSignIn.password.$dirty" ng-messages="formSignIn.password.$error" role="alert">
                <span ng-message="pattern">Mật khẩu chỉ gồm ký tự chữ cái và -, _, dấu cách.</span>
                <span ng-message="required">Vui lòng nhập mật khẩu.</span>
                <span ng-message="minlength">Mật khẩu ít nhất 5 đến 40 ký tự</span>
            </span>
        </div>
    </div>
    <div class="form-row mr-0 ml-0">
        <div class="form-group col-6">
            <div class="icheck-primary">
                <input type="checkbox" id="user-checkbox" checked="">
                <label for="user-checkbox">Ghi nhớ</label>
            </div>
        </div>
        <div class="form-group col-6 text-right">
            <a ui-sref="quen-mat-khau">Quên mật khẩu</a>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary w-100">Đăng nhập</button>
    <div class="text-center pt-3">
        <hr>
        <p class="text-muted">Bạn chưa có tài khoản? <a href="#/#dang-ky"> Đăng ký tại đây</a></p>
    </div>
</form>