<!-- Start wrapper-->
<div id="wrapper">
    <div class="card-authentication2 mx-auto my-5">
        <div class="card-group">
            <div class="card mb-0">
                <div class="bg-signin2"></div>
                <div class="card-img-overlay rounded-left my-5">
                </div>
            </div>

            <div class="card mb-0 ">
                <div class="card-body">
                    <div class="card-content p-3">
                        <div class="animated fadeInDown faster text-center">
                            <img src="assets/images/logo5.png" width="60px" height="60px">
                        </div>
                        <div class="card-title text-uppercase text-center py-3">Đăng nhập</div>
                        <form class="animated fadeInUp faster">
                            <div class="form-group">
                                <div class="position-relative has-icon-left">
                                    <label for="tenDangNhap" class="sr-only">Tên đăng nhập</label>
                                    <input type="text" name="tenDangNhap" class="form-control" placeholder="Tên đăng nhập">
                                    <div class="form-control-position">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="position-relative has-icon-left">
                                    <label for="matKhau" class="sr-only">Mật khẩu</label>
                                    <input type="password" name="matKhau" class="form-control" placeholder="Mật khẩu">
                                    <div class="form-control-position">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mr-0 ml-0">
                                <div class="form-group col-6">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="user-checkbox" checked="">
                                        <label for="user-checkbox">Ghi nhớ</label>
                                    </div>
                                </div>
                                <div class="form-group col-6 text-right">
                                    <a href="authentication-reset-password2.html">Quên mật khẩu</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-primary w-100">Đăng nhập</button>
                            <div class="text-center pt-3">
                                <!-- <p>Hoặc đăng nhập với</p>
                                <a href="javascript:void()" class="btn-social-text btn-outline-facebook waves-effect waves-light m-1"><i class="fab fa-facebook-f"></i> <span>facebook</span></a>
                                <a href="javascript:void()" class="btn-social-text btn-outline-google-plus waves-effect waves-light m-1"><i class="fab fa-google-plus-g"></i> <span>google+</span></a> -->
                                <hr>
                                <p class="text-muted">Bạn chưa có tài khoản? <a href="#/#dang-ky"> Đăng ký tại đây</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
</div>
<!--wrapper-->