<nav class="w-100 navbar shadow-sm navbar-expand-lg navbar-custom navbar-light font-balooda">
    <a class="navbar-brand" ui-sref="/">
        <img src="assets/images/logo4.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-primary">LEARN</span><span class="text-dark">GEEK</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li ng-repeat="route in $scope.leftRoutes" class="nav-item" ui-sref-active="active">
                <a ui-sref="{{route.url}}" class="nav-link text-uppercase">{{route.name}}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li ng-repeat="route in $scope.rightRoutes" class="nav-item">
                <a ui-sref="{{route.url}}" class="btn btn-primary nav-link text-uppercase text-white">{{route.name}}</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content-body">
        <div class="col-12 m-0 p-0">
            <ui-view></ui-view>
        </div>
    </div>

    <app-footer></app-footer>
</div>