<div class="container mt-4">
    <div class="card card-primary font-play">
        <div class="card-header text-uppercase text-center">
            <p class="h4 text-dark">
                <img src="assets/images/icons/theme/man.png">Trang cá nhân
            </p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="profile-card-3">
                        <div class="card">
                            <div class="user-fullimage">
                                <img
                                    onerror="this.src='assets/images/avatars/default.jpg'"
                                    ng-src="assets/images/avatars/{{$scope.account.photo}}" class="card-img-top">
                                <div class="details">
                                    <h5 class="mb-1 text-white ml-3">{{$scope.account.fullName}}</h5>
                                    <h6 class="text-white ml-3">{{$scope.account.email}}</h6>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col p-2">
                                        <h5 class="mb-0 line-height-5">{{$scope.account.mark}}</h5>
                                        <small class="mb-0 font-weight-bold">Điểm</small>
                                    </div>
                                </div>
                                <hr>
                                <a href="javascript:void():" class="btn btn-primary shadow-primary btn-sm btn-round m-1">Chọn ảnh đại diện mới</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                                <li class="nav-item">
                                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link"><i class="far fa-user"></i> <span class="hidden-xs">Hồ sơ</span></a>
                                </li>
                            </ul>
                            <div class="tab-content p-3">
                                <div class="tab-pane active" id="profile">
                                    <app-account-form></app-account-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>