<div class="card border border-secondary">
    <div class="card-header bg-primary">
        <div class="h5 text-white">
            {{$scope.index + 1}}. {{$scope.quiz.Text}}
        </div>
    </div>
    <div class="card-body">
        <div class="icheck-primary" ng-repeat="answer in $scope.quiz.Answers">
            <input type="radio" id="{{answer.Id}}" name="{{$scope.quiz.Id}}" ng-value="answer.Id" ng-model="$scope.quiz.prototype.studentAnswer">
            <label class="h5" for="{{answer.Id}}">{{answer.Text}}</label>
        </div>
    </div>
</div>