<div class="card-title text-uppercase text-center pb-3">Đặt lại mật khẩu</div>
<p class="text-center pb-2">
    Vui lòng nhập email. Bạn sẽ nhận được hướng dẫn đặt lại mật khẩu trong nội dung email.
</p>
<form ng-submit="$scope.sendPasswordResetEmail()" class="animated fadeInUp faster" name="formForgotPassword">
    <div class="form-group">
        <div class="position-relative has-icon-left">
            <label for="email" class="sr-only">Email Address</label>
            <input required pattern="^[a-zA-Z][a-zA-Z0-9_\.]{5,50}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$" maxlength=75 type="email" class="form-control" name="email" ng-model="$scope.email" placeholder="Địa chỉ email">
            <div class="form-control-position">
                <i class="fas fa-envelope-open"></i>
            </div>
            <span class="text-danger" ng-show="formForgotPassword.email.$error && formForgotPassword.email.$dirty" ng-messages="formForgotPassword.email.$error" role="alert">
                <span ng-message="pattern">Email không hợp lệ.</span>
                <span ng-message="required">Vui lòng nhập email.</span>
            </span>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary w-100 mt-3">Hoàn tất</button>
    <div class="text-center pt-3">
        <hr>
        <p class="text-muted">Quay lại trang <a ui-sref="dang-nhap"> Đăng nhập</a></p>
    </div>
</form>