<div class="card-title text-uppercase text-center pb-3">Đặt lại mật khẩu</div>
<p class="text-center pb-2">
    Vui lòng nhập email. Bạn sẽ nhận được hướng dẫn đặt lại mật khẩu trong nội dung email.
</p>
<form class="animated fadeInUp faster">
    <div class="form-group">
        <div class="position-relative has-icon-left">
            <label for="email" class="sr-only">Email Address</label>
            <input required type="text" name="email" class="form-control" placeholder="Địa chỉ email">
            <div class="form-control-position">
                <i class="fas fa-envelope-open"></i>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary btn-block mt-3">Hoàn tất</button>
    <div class="clearfix"></div>
    <div class="text-center pt-3">
        <hr>
        <p class="text-muted">Quay lại trang <a ui-sref="xac-thuc.dang-nhap"> Đăng nhập</a></p>
    </div>
</form>