<div class="container">
    <div class="mb-3 d-flex">
        <div ng-hide="$scope.index == 0" class="mr-auto">
            <button class="btn btn-outline-primary" ng-click="$scope.first()"><i class="fas fa-angle-double-left fa-2x"></i></button>
            <button class="btn btn-outline-primary" ng-click="$scope.prev()"><i class="fas fa-angle-left fa-2x"></i></button>
        </div>
        <div ng-hide="$scope.index == $scope.quizs.length" class="ml-auto">
            <button class="btn btn-outline-primary" ng-click="$scope.next()"><i class="fas fa-angle-right fa-2x"></i></button>
            <button class="btn btn-outline-primary" ng-click="$scope.last()"><i class="fas fa-angle-double-right fa-2x"></i></button>
        </div>
    </div>

    <app-quiz-card quiz="$scope.quizs[$scope.index]" index=$scope.index></app-quiz-card>
</div>