<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-12 col-lg-12 text-center">

            <!-- Heading -->
            <h3 class="text-uppercase">Giới thiệu</h3>

            <!-- Text -->
            <p class="text-muted">
                LearnGeek là nơi tập hợp các khóa học thuộc ngành công nghệ thông tin.<br>
                Hãy trau dồi kiến thức, dẫn lối đến tương lai.
            </p>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                Với hình thức kết hợp việc học lý thuyết và thực hành với các bài tập trắc nghiệm, bạn sẽ nhanh chóng nắm được những khái niệm cơ bản, từ đó xây dựng từng bước nhỏ để làm nên các phần mềm ứng dụng thực thụ.

                <div ng-repeat="aboutUsTile in $scope.aboutUsTiles" class="mt-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-fluid rounded-circle border border-primary shadow" width="100px" height="100px" src="assets/images/icons/theme/{{aboutUsTile.icon}}">
                        </div>
                        <div class="col-md-10">
                            <p class="h5">{{aboutUsTile.title}}</p>
                            {{aboutUsTile.content}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="assets/images/logo7.png">
            </div>
        </div>
    </div>
</div>