<div class="card mb-3 shadow" style="max-width: 640px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/images/avatars/{{$scope.student.photo}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title font-weight-bold text-uppercase text-primary">
                    <i class="fas {{$scope.student.gender ? 'fa-male text-info' : 'fa-female text-danger'}}"></i> {{$scope.student.fullName}}
                </h4>
                <p class="card-text text-dark">
                    <i class="fas fa-id-card"></i>
                    <span class="font-weight-bold">Mã số:</span> {{$scope.student.id}}
                </p>
                <p class="card-text text-dark">
                    <i class="fas fa-birthday-cake"></i>
                    <span class="font-weight-bold">Ngày sinh:</span> {{$scope.student.birthday}}
                </p>
                <p class="card-text text-dark">
                    <i class="fas fa-marker"></i>
                    <span class="font-weight-bold">Điểm trung bình:</span> <span class="text-danger font-weight-bold">{{$scope.student.mark}}</span>
                </p>
                <p class="card-text text-dark">
                    <i class="fas fa-trophy"></i>
                    <span class="font-weight-bold">Xếp loại:</span> {{$scope.rank}}
                </p>

                <a href="{{$scope.student.facebook}}" target="_blank" class="btn btn-info waves-effect waves-light"><i class="fab fa-facebook-f"></i></a>

                <div class="float-right">
                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modalForm{{$scope.student.id}}"><i class="fas fa-edit"></i> Sửa</button>
                    <button ng-click="$scope.deleteOneEmit()" class="btn btn-danger"><i class="fas fa-trash"></i> Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalForm{{$scope.student.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-user-graduate"></i> Sinh viên</h5>
                <button ng-click="$scope.closeForm()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-student-form state=2 student="$scope.student"></app-student-form>
            </div>
        </div>
    </div>
</div>