<div class="container mt-4 mb-4">
        <div class="font-play">
            <div class="text-uppercase text-center">
                <p class="h4 text-dark">
                    <img src="assets/images/icons/theme/target.png">Bài tập trắc nghiệm
                </p>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="profile-card-3 h-100">
                            <div class="card h-100">
                                <div class="user-fullimage">
                                    <img ng-src="assets/images/subjects/{{$scope.subject.logo}}" class="card-img-top">
                                </div>
                                <div class="card-body text-center">
                                    <div class="row">
                                        <div class="col p-2">
                                            <h5 class="text-primary">{{$scope.subject.name}}</h5>
                                            <br>
                                            <h5 class="mb-0 line-height-5">{{$scope.subject.numberOfLearners}}</h5>
                                            <small class="mb-0 font-weight-bold">Người học</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="javascript:void();" class="btn btn-primary shadow-primary btn-sm btn-round m-1">Bài học lý thuyết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card h-100">
                            <div class="card-body">
                                <div>
                                    <h4 class="text-primary">Khóa học: {{$scope.subject.name}}</h4>
                                    <app-quiz-list quizs="$scope.quizs"></app-quiz-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>