<div class="container mt-4 mb-4">
        <div class="font-play">
            <div class="text-uppercase text-center">
                <p class="h4 text-dark">
                    <img src="assets/images/icons/theme/target.png">Bài tập trắc nghiệm
                </p>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="profile-card-3 h-100">
                            <div class="card h-100">
                                <div class="user-fullimage">
                                    <img ng-src="assets/images/subjects/{{$scope.subject.logo}}" class="card-img-top">
                                </div>
                                <div class="card-body text-center">
                                    <div class="row">
                                        <div class="col p-2">
                                            <h5 class="mb-0 line-height-5">{{$scope.subject.numberOfLearners}}</h5>
                                            <small class="mb-0 font-weight-bold">Người học</small>
                                        </div>
                                        <div class="col p-2">
                                            <h5 class="mb-0 line-height-5">{{$scope.allQuizs.length}}</h5>
                                            <small class="mb-0 font-weight-bold">Câu hỏi</small>
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="javascript:void();" class="btn btn-primary shadow-primary btn-sm btn-round m-1">Bài học lý thuyết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card h-100">
                            <div class="card-body">
                                <div>
                                    <div class="d-flex justify-content-between mb-5">
                                        <div class="text-dark text-left">
                                            <i class="fas fa-puzzle-piece"></i> {{$scope.subject.name}}
                                            <br>
                                            <i class="fas fa-clock"></i> Tổng thời gian làm bài: <span class="font-weight-bold">{{$scope.quizs.length}} phút</span>
                                        </div>
                                        <div class="text-primary text-center mx-3">
                                        </div>
                                        <div class="text-danger text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex mb-3 justify-content-center" timer-controls>
                                        <div class="text-center">
                                            <button ng-click="$scope.lamBai()" ng-class="{'btn-dark': !$scope.dangLamBai, 'btn-primary': $scope.dangLamBai}" class="btn btn-block btn-lg align-self-center" ng-click="timerToggle()" type="button">
                                                {{$scope.dangLamBai ? 'Nộp bài' : 'Bắt đầu làm bài'}}
                                            </button>
                                            <div class="text-danger mt-2">
                                                <i class="far fa-clock"></i>
                                                Thời gian còn lại:
                                                <timer max-time-unit="'hour'" countdown="$scope.deadline" interval="1000" autostart="false" >
                                                    {{hhours}} giờ, {{mminutes}} phút, {{sseconds}} giây
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{progressBar}}%"></div>
                                                    </div>
                                                </timer>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="$scope.dangLamBai">
                                        <app-quiz-list quizs="$scope.quizs"></app-quiz-list>

                                    </div>
                                    <div ng-if="$scope.ketQuaSauKhiLamBai.length > 0">
                                        Kết quả của bài vừa rồi
                                        <div ng-repeat="quiz in $scope.ketQuaSauKhiLamBai">
                                            {{quiz.Text}}

                                            <div class="icheck-dark" ng-repeat="answer in quiz.Answers">
                                                <input disabled type="radio" id="{{answer.Id}}" name="{{quiz.Id}}" ng-value="answer.Id" ng-bind="quiz.studentAnswer">
                                                <label ng-class="{'text-success': (answer.Id == quiz.AnswerId), 'text-danger': ((answer.Id == quiz.studentAnswer) && (answer.Id != quiz.AnswerId))}" for="{{answer.Id}}">{{answer.Text}}</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>